.AboutModule {
    color: white;
    text-align: left;
    margin: 10px;
}

.AboutModule .aboutTitle,
.AboutModule .aboutHHTitle,
.AboutModule .GlitchTitle{
    font-size: 18px;
    font-weight: bold;
    color: #ececf0;
    font-family: Lora,Italic;
    /* font-style: italic; */
}

.AboutModule .MuiDivider-root {
    background-color: #252850;
    margin-top:10px;
}

.AboutModule .PledgePrompt .recommendation {
    font-size: 12px;
    margin: 16px 25px 12px 26px;
}

.AboutModule .PledgePrompt button {
    font-size: var(--font-size-small);
    color: #ececf0;
    text-transform: none;
    border-color: #2f4fff;
    margin: 2%;
    width: 40%;
    box-sizing: border-box;
}

.AboutModule .aboutPart1,
.AboutModule .aboutPart2 {
    background-color: var(--header-toolbar-color);
    font-size: var(--font-size-small);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.AboutModule ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .AboutModule .FeatureListBullet {
      width: 15px;
      height: 15px;
      margin-right: 5px;
  }

  .AboutModule a,
  .AboutModule .specialText{
      color: var(--special-text-color);
  }

  /* Side Panel*/
  .SidePanel .SidePanelListItem {
      text-align: right;
      opacity: 0.9;
  }

  .SideDrawer .MuiDrawer-paper {
      background: var(--bg-theme-color);
      color: white;
      font-size: var(--font-size-large);
      min-width: 250px;
  }


.SidePanel .AppLogoBar {
    background-image: url('../images/LogoSideBar.png');
    background-repeat: no-repeat;
    height: 50px;
    margin-bottom: 20px;
}


.SidePanel .followEDevi {
    position: absolute;
    bottom: 0;
    right: 0;
}

.SidePanel .SmallSidePanelText .MuiListItemText-primary {
    text-align: right;
    font-size: var(--font-size-small)
}

.SidePanel .followIcons svg {
    margin-right: 10px;
    color: var(--special-text-color)

}

.SidePanel .MuiDivider-root {
    background-color: #555556;
}

.aboutPart2 .createdByTitle {
    font-size: var(--font-size-medium);
}

.aboutPart2 .createdByTitle {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.AboutModule .Terms {
    color: #fedc31;
    font-size: var(--font-size-small);
    margin: 10px;
    padding: 10px;
}

.AboutModule .specialThanks {
    font-size: var(--font-size-small);
    font-weight: bold;
}

.TermsAndConditions {
    margin: 16px;
    color: #ececf0;
}

.TermsAndConditions .TermsTitle {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lora,Regular'
}

.TermsAndConditions .moduleSection {
    font-size: 14px;
    font-family: 'Lora,Regular';
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    cursor: pointer;
}
